html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  width: 100%;
  background-color: #151515;
  color: #ffffff;
  position: relative; }

main {
  padding: 0 16.5rem;
  overflow: hidden; }
  @media screen and (max-width: 1280px) {
    main {
      padding: 0 8rem; } }
  @media screen and (max-width: 890px) {
    main {
      padding: 0 3.2rem; } }

.hidden {
  display: none; }

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: medium;
  line-height: 2.8rem; }

.heading-xl {
  font-size: 8.8rem;
  font-weight: bold;
  line-height: 8.8rem;
  letter-spacing: -2.5px; }
  @media screen and (max-width: 1280px) {
    .heading-xl {
      font-size: 6.4rem;
      line-height: 6.4rem; } }
  @media screen and (max-width: 890px) {
    .heading-xl {
      line-height: 7.2rem;
      font-size: 7.2rem;
      letter-spacing: -2.05px; } }

.heading-l {
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 5.6rem;
  letter-spacing: -1.5px; }
  @media screen and (max-width: 1280px) {
    .heading-l {
      font-size: 4rem; } }

.heading-m {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.2rem; }
  @media screen and (max-width: 1280px) {
    .heading-m {
      font-size: 2rem; } }

.logo {
  font-size: 3.2rem; }

p {
  color: #d9d9d9;
  font-size: 1.8rem;
  line-height: 2.8rem; }
  @media screen and (max-width: 1280px) {
    p {
      font-size: 1.6rem; } }
  @media screen and (max-width: 1280px) {
    p {
      font-size: 1.7rem; } }

.error-message {
  font-size: 1.4rem;
  font-weight: medium;
  color: #ff6f5b; }

header {
  margin: 0 16.5rem;
  position: relative;
  display: grid;
  grid-template-columns: 60% 40%; }
  @media screen and (max-width: 1280px) {
    header {
      margin: 0 8rem; } }
  @media screen and (max-width: 890px) {
    header {
      margin: 0;
      grid-template-columns: 58% 42%; } }

.header-col--2 {
  position: relative;
  overflow: hidden; }

.logo-top {
  position: absolute;
  top: 3.9rem;
  left: 0; }
  @media screen and (max-width: 890px) {
    .logo-top {
      left: 3.2rem; } }

.social-media-top {
  position: absolute;
  top: 4.3rem;
  right: 0;
  display: flex;
  gap: 3.2rem;
  margin-right: 2.8rem;
  z-index: 999; }

.profile-img {
  width: 100%;
  height: 100%; }

.about {
  position: absolute;
  top: 19.8rem;
  left: 0;
  width: 64%;
  z-index: 999; }
  @media screen and (max-width: 1280px) {
    .about {
      top: 15rem; } }
  @media screen and (max-width: 890px) {
    .about {
      left: 3.2rem; } }
  .about p {
    display: block;
    width: 44.5rem;
    margin-top: 4.3rem;
    padding-right: 2rem; }
    @media screen and (max-width: 890px) {
      .about p {
        margin-top: 6rem; } }

.name {
  border-bottom: 6px solid #4ee1a0; }

footer {
  background-color: #242424;
  padding: 8.4rem 16.5rem 9.2rem 16.5rem; }
  @media screen and (max-width: 1280px) {
    footer {
      padding: 8.4rem 8rem 9.2rem 8rem; } }
  @media screen and (max-width: 890px) {
    footer {
      padding: 6rem 3.2rem 4rem 3.2rem; } }

.contact-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 9.2rem;
  border-bottom: 1px solid #d9d9d9; }
  @media screen and (max-width: 890px) {
    .contact-box {
      flex-direction: column;
      align-items: center;
      text-align: center; } }
  .contact-box-info {
    width: 40%; }
    @media screen and (max-width: 1280px) {
      .contact-box-info {
        width: 45%; } }
    @media screen and (max-width: 890px) {
      .contact-box-info {
        width: 58%;
        margin-bottom: 4.8rem; } }
  .contact-box-heading {
    margin-bottom: 3.6rem; }

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3.2rem; }
  @media screen and (max-width: 1280px) {
    form {
      width: 45%; } }
  @media screen and (max-width: 890px) {
    form {
      width: 58%; } }
  form div {
    width: 100%;
    position: relative; }
    form div input,
    form div textarea {
      width: 100%;
      background-color: #242424;
      color: #ffffff;
      font-size: 1.6rem;
      font-weight: medium;
      padding-bottom: 1.6rem;
      padding-left: 2.4rem;
      border: none;
      border-bottom: 1px solid #d9d9d9;
      outline: none; }
      form div input:valid,
      form div textarea:valid {
        border-bottom: 1px solid #4ee1a0; }
      form div input:invalid,
      form div textarea:invalid {
        border-bottom: 1px solid #d9d9d9; }

.error-message {
  position: absolute;
  right: 0;
  bottom: -2.4rem; }

.error-icon {
  position: absolute;
  right: 0;
  bottom: 1.6rem;
  width: 2.4rem;
  color: #ff6f5b;
  fill: #ff6f5b; }

.footer-bar {
  margin-top: 4.7rem;
  display: flex;
  justify-content: space-between; }

.social-media-bottom {
  display: flex;
  gap: 3.2rem; }

.section-skills {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  margin-top: 10.4rem;
  border-top: 1px solid #d9d9d9; }
  @media screen and (max-width: 890px) {
    .section-skills {
      grid-template-columns: repeat(2, 1fr); } }

.heading-skills {
  margin-top: 6.5rem;
  margin-bottom: 1.4rem; }

.section-projects {
  margin-top: 14rem;
  margin-bottom: 15rem;
  max-width: 100%; }

.projects-heading {
  display: flex;
  justify-content: space-between; }

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem; }

.projects-item-img {
  position: relative; }
  .projects-item-img img {
    width: 100%; }

.projects-item-text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 3.9rem; }
  .projects-item-text--1 {
    grid-row-start: 2; }
  .projects-item-text--2 {
    grid-row-start: 2; }
  .projects-item-text--3 {
    grid-row-start: 4; }
  .projects-item-text--4 {
    grid-row-start: 4; }
  .projects-item-text--5 {
    grid-row-start: 6; }
  .projects-item-text--6 {
    grid-row-start: 6; }

.projects-btn-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  transition: all 0.3s; }
  @media screen and (max-width: 890px) {
    .projects-btn-box {
      display: none; } }

.projects-btn-box-small {
  display: none; }
  @media screen and (max-width: 890px) {
    .projects-btn-box-small {
      display: block;
      margin-top: 1.3rem; } }
  @media screen and (max-width: 890px) {
    .projects-btn-box-small .btn {
      display: inline-block; } }
  .projects-btn-box-small .btn:first-child {
    margin-right: 3rem; }

.projects-title {
  text-transform: uppercase; }

.projects-skills span {
  display: inline-block;
  margin-right: 2rem;
  text-transform: uppercase; }
  @media screen and (max-width: 1280px) {
    .projects-skills span {
      font-size: 1.6rem; } }

.btn {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  letter-spacing: 2.29px;
  padding-bottom: 1.2rem;
  border-bottom: 2px solid #4ee1a0;
  cursor: pointer; }
  .btn--1 {
    margin-top: 6.6rem; }
    @media screen and (max-width: 1280px) {
      .btn--1 {
        margin-top: 3rem; } }
  .btn--2 {
    margin-top: 2.5rem;
    margin-bottom: 10.5rem;
    align-self: end; }
  .btn--form {
    color: #ffffff;
    display: inline-block; }
    .btn--form:hover, .btn--form:active {
      color: #4ee1a0; }

a:link, a:visited {
  color: #ffffff;
  text-decoration: none; }

a:hover, a:active {
  color: #4ee1a0; }

#rings--1 {
  position: absolute;
  top: 13.3rem;
  left: -10rem; }
  @media screen and (max-width: 890px) {
    #rings--1 {
      top: 8.6rem;
      left: -26.5rem; } }

#rings--2 {
  position: absolute;
  top: 25.3rem;
  right: -40.4rem; }
  @media screen and (max-width: 890px) {
    #rings--2 {
      top: 38.7rem;
      right: -40.4rem; } }

#rings--3 {
  position: absolute;
  bottom: 21.9rem;
  left: -20.5rem; }
  @media screen and (max-width: 890px) {
    #rings--3 {
      bottom: 15rem;
      left: -36.8rem; } }

#circle {
  position: absolute;
  bottom: 7rem;
  left: -6.45rem; }
  @media screen and (max-width: 890px) {
    #circle {
      bottom: 0;
      left: 25.64rem; } }

.social-media-icon:hover path,
.social-media-icon:focus path {
  fill: #4ee1a0; }
