.section-projects {
  margin-top: 14rem;
  margin-bottom: 15rem;
  max-width: 100%;
}

.projects {
  &-heading {
    display: flex;
    justify-content: space-between;
  }

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  &-item-img {
    position: relative;

    & img {
      width: 100%;
    }
  }

  &-item-text {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-bottom: 3.9rem;

    &--1 {
      grid-row-start: 2;
    }

    &--2 {
      grid-row-start: 2;
    }

    &--3 {
      grid-row-start: 4;
    }

    &--4 {
      grid-row-start: 4;
    }

    &--5 {
      grid-row-start: 6;
    }

    &--6 {
      grid-row-start: 6;
    }
  }

  &-btn-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;
    transition: all 0.3s;

    @include breakpoint($medium) {
      display: none;
    }
  }

  &-btn-box-small {
    display: none;

    @include breakpoint($medium) {
      display: block;
      margin-top: 1.3rem;
    }

    & .btn {
      @include breakpoint($medium) {
        display: inline-block;
      }
    }

    & .btn:first-child {
      margin-right: 3rem;
    }
  }

  &-title {
    text-transform: uppercase;
  }

  &-skills span {
    display: inline-block;
    margin-right: 2rem;
    text-transform: uppercase;

    @include breakpoint($large) {
      font-size: 1.6rem;
    }

    @include breakpoint($small) {
      font-size: 1.4rem;
    }
  }
}
