#rings--1 {
  position: absolute;
  top: 13.3rem;
  left: -10rem;
}

#rings--2 {
  position: absolute;
  top: 25.3rem;
  right: -40.4rem;
}
#rings--3 {
  position: absolute;
  bottom: 21.9rem;
  left: -20.5rem;
}

#circle {
  position: absolute;
  bottom: 7rem;
  left: -6.45rem;
}
