html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100%;
  background-color: $color-black;
  color: $color-white;
  position: relative;
}

main {
  padding: 0 16.5rem;
  overflow: hidden;

  @include breakpoint($large) {
    padding: 0 8rem;
  }

  @include breakpoint($medium) {
    padding: 0 3.2rem;
  }

  @include breakpoint($small) {
    padding: 0 1.6rem;
  }
}

.hidden {
  display: none;
}
